
#branding {
    background: #212121;
    color: #fff;
    width: 100%;
}

#title {
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    height: 50px;
    font-size: 20px;
}

#btn {
    position: absolute;
    padding: 10px 0 0 10px;
}

#video {
    width: 60%;
    margin: 0 auto;
}
.buttons {
    position: absolute;
    left: 51%;
    margin-left: -100px;
}
